django
networkxet

# django rest framework family
djangorestframework
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support

# django mcp server integration
django-mcp-server